body {
    color: #4c6147;
    font-family:Georgia;
 }

 #TW {
    padding: 0 10 px;
    border: 5px solid #c7c2a1; 
    background-color: #fcfcf5;
    text-align: justify;
 }

#TW p em {
    text-decoration:underline;
}

.box-conteudo { 
        margin: 30px 10px 20px 0px;
        padding: 10px;
        border: 1px #c7c2a1 inset;
        background-color: #f3f1dc;

}

div.box-conteudo h1 {
    font-size: 20px;
    margin:0;
}

#teorica li:first-child {
    font-style:italic;
    font-weight: bold;

}

P::first-letter {
    font-size:30px;

}

a:link, a:visited {
    color:black;
}



